<h1>User App Vars</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Role</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_app_vars.each do |user_app_var| %>
      <tr>
        <td><%= user_app_var.id %></td>
        <td><%= link_to user_app_var.role, user_app_var_path(user_app_var) %></td>
        <td><%= user_app_var.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_user_app_var_path(user_app_var), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_app_var_path(user_app_var), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_user_app_var_path, :class => 'btn btn-primary' %>
