<%= simple_form_for @message, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Message</legend>
    <%= f.association :app %>
    <%= f.input :number, :hint => "Number should start with +258" %>

    <%= f.input :raw_message, :label => "Message", :as => :text, :input_html => { :rows => 3 } %>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', messages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
