<p id="notice"><%= notice %></p>

<p>
  <b>Init vital ta num:</b>
  <%= @mc_datum.init_vital_ta_num %>
</p>

<p>
  <b>Init vital ta denom:</b>
  <%= @mc_datum.init_vital_ta_denom %>
</p>

<p>
  <b>Init vital fr:</b>
  <%= @mc_datum.init_vital_fr %>
</p>

<p>
  <b>Init vital temp:</b>
  <%= @mc_datum.init_vital_temp %>
</p>

<p>
  <b>Init vital peso:</b>
  <%= @mc_datum.init_vital_peso %>
</p>

<p>
  <b>Init anest:</b>
  <%= @mc_datum.init_anest %>
</p>

<p>
  <b>Init anormalidade:</b>
  <%= @mc_datum.init_anormalidade %>
</p>

<p>
  <b>Init anormalidade exp:</b>
  <%= @mc_datum.init_anormalidade_exp %>
</p>

<p>
  <b>Can cm:</b>
  <%= @mc_datum.can_cm %>
</p>

<p>
  <b>Consent name:</b>
  <%= @mc_datum.consent_name %>
</p>

<p>
  <b>Consent date signe:</b>
  <%= @mc_datum.consent_date_signe %>
</p>

<p>
  <b>Consent date guardian signed:</b>
  <%= @mc_datum.consent_date_guardian_signed %>
</p>

<p>
  <b>Consent nome us:</b>
  <%= @mc_datum.consent_nome_us %>
</p>

<p>
  <b>Notas profissional:</b>
  <%= @mc_datum.notas_profissional %>
</p>

<p>
  <b>Notas date:</b>
  <%= @mc_datum.notas_date %>
</p>

<p>
  <b>Notas assistente:</b>
  <%= @mc_datum.notas_assistente %>
</p>

<p>
  <b>Notas start:</b>
  <%= @mc_datum.notas_start %>
</p>

<p>
  <b>Notas end:</b>
  <%= @mc_datum.notas_end %>
</p>

<p>
  <b>Notas tipo:</b>
  <%= @mc_datum.notas_tipo %>
</p>

<p>
  <b>Notas anesteica:</b>
  <%= @mc_datum.notas_anesteica %>
</p>

<p>
  <b>Notas lidocaina:</b>
  <%= @mc_datum.notas_lidocaina %>
</p>

<p>
  <b>Notas paracetamol:</b>
  <%= @mc_datum.notas_paracetamol %>
</p>

<p>

<p>
  <b>Notas sinas ta num:</b>
  <%= @mc_datum.notas_sinas_ta_num %>
</p>

<p>
  <b>Notas sinas ta denom:</b>
  <%= @mc_datum.notas_sinas_ta_denom %>
</p>

<p>
  <b>Notas sinais fc:</b>
  <%= @mc_datum.notas_sinais_fc %>
</p>

<p>
  <b>Notas sinais fr:</b>
  <%= @mc_datum.notas_sinais_fr %>
</p>

<p>
  <b>Notas sinais temp:</b>
  <%= @mc_datum.notas_sinais_temp %>
</p>

<p>
  <b>Notas complicacoes:</b>
  <%= @mc_datum.notas_complicacoes %>
</p>

<p>
  <b>Notas resultado:</b>
  <%= @mc_datum.notas_resultado %>
</p>

<p>
  <b>Notas comentarios:</b>
  <%= @mc_datum.notas_comentarios %>
</p>

<p>
  <b>Pos profissional:</b>
  <%= @mc_datum.pos_profissional %>
</p>

<p>
  <b>Pos data:</b>
  <%= @mc_datum.pos_data %>
</p>

<p>
  <b>Pos estado:</b>
  <%= @mc_datum.pos_estado %>
</p>

<p>
  <b>Pos complicaoes:</b>
  <%= @mc_datum.pos_complicaoes %>
</p>

<p>
  <b>Pos comentarios:</b>
  <%= @mc_datum.pos_comentarios %>
</p>

<p>
  <b>Pos2 profissional:</b>
  <%= @mc_datum.pos2_profissional %>
</p>

<p>
  <b>Pos2 data:</b>
  <%= @mc_datum.pos2_data %>
</p>

<p>
  <b>Pos2 estada:</b>
  <%= @mc_datum.pos2_estada %>
</p>

<p>
  <b>Pos2 complicacoes:</b>
  <%= @mc_datum.pos2_complicacoes %>
</p>

<p>
  <b>Pos2 comentarios:</b>
  <%= @mc_datum.pos2_comentarios %>
</p>

<p>
  <b>Registo us:</b>
  <%= @mc_datum.registo_us %>
</p>

<p>
  <b>Registo utente first:</b>
  <%= @mc_datum.registo_utente_first %>
</p>

<p>
  <b>Registo utente last:</b>
  <%= @mc_datum.registo_utente_last %>
</p>

<p>
  <b>Registo address:</b>
  <%= @mc_datum.registo_address %>
</p>

<p>
  <b>Registo phone string:</b>
  <%= @mc_datum.registo_phone_string %>
</p>

<p>
  <b>Registo data:</b>
  <%= @mc_datum.registo_data %>
</p>

<p>
  <b>Registo nid:</b>
  <%= @mc_datum.registo_nid %>
</p>

<p>
  <b>Registo anos:</b>
  <%= @mc_datum.registo_anos %>
</p>

<p>
  <b>Registo estado:</b>
  <%= @mc_datum.registo_estado %>
</p>

<p>
  <b>Registo referenciado:</b>
  <%= @mc_datum.registo_referenciado %>
</p>

<p>
  <b>Registo motivo:</b>
  <%= @mc_datum.registo_motivo %>
</p>

<p>
  <b>Registo testagem aconselhado:</b>
  <%= @mc_datum.registo_testagem_aconselhado %>
</p>

<p>
  <b>Regito testado:</b>
  <%= @mc_datum.regito_testado %>
</p>

<p>
  <b>Registo resultado:</b>
  <%= @mc_datum.registo_resultado %>
</p>

<p>
  <b>Registo its:</b>
  <%= @mc_datum.registo_its %>
</p>

<p>
  <b>Registo tratemento:</b>
  <%= @mc_datum.registo_tratemento %>
</p>

<p>
  <b>Registo operacao:</b>
  <%= @mc_datum.registo_operacao %>
</p>

<p>
  <b>Registo operacao exp:</b>
  <%= @mc_datum.registo_operacao_exp %>
</p>

<p>
  <b>Registo med:</b>
  <%= @mc_datum.registo_med %>
</p>

<p>
  <b>Registo med exp:</b>
  <%= @mc_datum.registo_med_exp %>
</p>

<p>
  <b>Registo aler:</b>
  <%= @mc_datum.registo_aler %>
</p>

<p>
  <b>Registo aler exp:</b>
  <%= @mc_datum.registo_aler_exp %>
</p>

<p>
  <b>Registo manifestacao:</b>
  <%= @mc_datum.registo_manifestacao %>
</p>


<%= link_to 'Edit', edit_mc_datum_path(@mc_datum) %> |
<%= link_to 'Back', mc_data_path %>
