<table class="table table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>App</th>
      <th>Code</th>
      <th>Times used</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% codes.each do |actor_code| %>
      <tr>
        <td><%= actor_code.user.id %></td>
        <td><%= "#{actor_code.app.name} (#{actor_code.app.app_code})" %></td>
        <td><%= actor_code.code %></td>
        <td><%= actor_code.times_used %></td>
        <td>
          <%= link_to 'Edit', edit_actor_code_path(actor_code), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', actor_code_path(actor_code), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_actor_code_path, :class => 'btn btn-primary' %>
