<%= simple_form_for @actor_code, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Actor Code</legend>
    
    <p>Code: <%= @actor_code.code.to_str.upcase %></p>
    <p>Complete code (App Code & Actor Code): <%= "#{@actor_code.app.app_code}#{@actor_code.code}".upcase %></p>
    #TODO: show all phones
    <p>Phone: <%= @actor_code.user.phones.first.number %></p>
    <%= f.input :times_used %>
    <%= f.association :app, :label_method => lambda { |app| "#{app.name}"} %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', actor_codes_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
