<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>

    <%= f.input :birthday, :include_blank => true %>
    <%= f.input :num_actor_codes_generated %>
    <%= f.input :num_children %>
    <%= f.input :gender %>
    <%= f.input :marital_status %>
    <%= f.input :nickname %>
    
    <%= f.association :phones, :collection => @user.phones.order("number"), :label_method => lambda { |phone| "#{phone.number}" } %>
    

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
