<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> User</legend>
    <h3>User</h3>
    <%= f.input :birthday, :include_blank => true, :start_year => Date.today.year - 90, :end_year => Date.today.year %>
    <%= f.input :num_children%>
    <%= f.input :gender, :as => :radio_buttons, :collection => User.genders %>
    <%= f.input :marital_status, :as => :radio_buttons, :collection => User.marital_statuses %>
    <%= f.input :nickname %>
    
    <h3>Phones</h3>
    <%= f.simple_fields_for :phones do |builder| %>
      <%= builder.input :number%>
      <%= builder.input :_destroy, :as => :radio_buttons, :label => "Delete phone?" %>
    <% end %>
    
    <h3>Application specific attributes</h3>
    <%= f.simple_fields_for :user_app_vars do |builder| %>
      <%= builder.association :app%>
      <%= builder.input :role %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
