<%= simple_form_for @app, :as => :app, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> App</legend>
    <p>
      <%= "App Code: #{@app.app_code}" %>
    </p>
    <p>
      <%= "Type: #{titlize(@app.type)}" %>
    </p>
    
    <%= f.input :name %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    
    <%= render 'apps/app_vars', :f => f %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', apps_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
